.footer {
   background: var(--primary);
   color: var(--white);
   font-weight: 500;
   display: grid;
   grid-template-columns: 1fr auto auto;
   gap: 40px;
   padding: 25px 30px;
}

.footer a {
   color: var(--white);
   transition: all .2s ease;
}

.footer a:hover {
   color: var(--gray-light);
}

@media(max-width: 765px) {
   .footer {
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 15px 10px;
   }
}