.sortIcon {
   display: none;
}

.active {
   font-weight: 700;
   color: var(--primary);
}

.active .sortIcon {
   display: block;
   margin-right: 8px;
}

.sort {
   display: grid;
   grid-template-columns: 110px 95px;
   gap: 40px;
   margin-top: 20px;
}

.sort span {
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   width: fit-content;
}

.sort span:not(.active) {
   grid-template-columns: 1fr;

}